.QuoteForm {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
  }
  
  .QuoteForm input[type="text"],
  .QuoteForm input[type="number"],
  .QuoteForm textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .QuoteForm button {
    background-color: #ED6306;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .QuoteForm button:hover {
    background-color: darken(#ED6306, 10%);
  }
  
  /* Ajusta el color al pasar el mouse */
  .QuoteForm button:hover {
    background-color: #cc5705;
  }
  
  .QuoteForm div {
    display: flex;
    flex-direction: column;
  }
  

  .QuoteForm .itemsList {
    margin-top: 20px;
  }
  
  .QuoteForm .itemRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .QuoteForm .itemRow input[type="text"],
  .QuoteForm .itemRow input[type="number"] {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .removeItemBtn {
    color: #cc5705;
    border: none;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .itemDisplay {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }